<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD APP</title>
</head>
<body>
    <h1>I'm going to bed before either of you come up with another clever idea to get us killed. Or worse, expelled</h1>
    <form action="/quotes" method="POST">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="quote" name="quote">
        <button type="submit">Submit</button>
    </form>
    <div>
        <h2>Harry comes through</h2>
        <p>Replace first quote with a harry quote</p>
        <button id="updateButton">Replace</button>
    </div>
    <h2>Quotes</h2>
    <ul class="quotes">
        <!--Loop through quotes-->
        <% for (var i=0; i < quotes.length; i++) {%>
        <li class="quote">
            <span><%= quotes[i].name %>: </span>

            <span><%= quotes[i].quote %></span>
        </li>
        <% } %>
    </ul>
</body>
</html>